@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    font-family: "Inter" !important;
}

body {
    padding: 0;
    margin: 0;
}

.App {
    position: relative;
    height: 100vh;
}

.headlineMedium {
    font-family: "Inter" !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 20px !important;
}

.subheadMedium {
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 18px !important;
}

.textPrimary {
    color: #050510 !important;
}

.textTetriary {
    color: #97979B !important;
}

.textDefaultSecondary {
    color: #C3C3C6 !important;
}

.textSecondary {
    color: #55555C !important;
}

.title1Bold {
    font-family: "Inter" !important;
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 28px !important;
}

.textMedium {
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    line-height: 20px !important;
}

.textSemibold {
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    line-height: 20px !important;
}

.listImage {
    width: 72px !important;
    height: 72px !important;
    border-radius: 50% !important;
}

.caption1Regular {
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 16px !important;
}

.textRegular {
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 20px !important;
}

.title2SemiBold {
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 24px !important;
}


/*-------------------------------------------------------------------*/
.horizontalDivider {
    top: 50%;
    bottom: 50%;
    content: "";
    display: block;
    width: 100%;
    color: #C3C3C6;
    height: 1px;
    background: #C3C3C6;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 36px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    /*background-color: #eee;*/
    border-radius: 50%;
    border: 2px solid #6534FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #6534FF;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: flex;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}
